body{
	font-family: Arial;
	margin: 0;
	background-color: #5075a1;
}

a{
	color: white;
	text-decoration: none;
}

#container{
	margin-bottom: 1em;
	background: url("img/bgMotif.png") repeat-x;
	border: 1px solid #5075a1;
	text-align: center;
}

#text{
	margin: 0 auto;
	width: 80%;
}

#date{
	opacity: 0.2;
	margin-top: 5.5em;
	color: white;
	font-weight: bold;
	font-size: 5em;
}

#debut{
	font-size: 2.5em;
}

h1{
	font-size: 7em;
}

p{
	font-size: 2.5em;
	line-height: 1.7em;
	color: white;
	margin: 2em 0;
}

span{
	font-size: 0.75em;
}

#sixemeClic{
	font-size: 4em;
}

#fin p{
	margin-bottom: 0.5em;
}
