.entete{
	width: 40%;
	margin: 1em auto;
}

.banner{
	color: grey;
	background-color: #f2f2f2;
	text-align: center;
	padding: 0.5em;
	font-size: 1em!important;
}


img[alt="order_header"]{
	width: 100%;
}

.presentation{
	font-size: 1.2em;
	line-height: 2em;
}

hr{
	border-color: #ffffff;
}

.formulaire{
	width: 35%;
	margin: 0 auto;
}

.ui-controlgroup-label{
	margin: 0!important;
}

legend{
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.5em 0.5em 0.5em 0;
}

.ui-field-contain{
	margin: 0!important;
	padding: 1em 0;
}

.alert{
	font-size: 0.8em;
	color: red;
}

.ui-input-btn{
	color: #2db300!important;
	float: right;
	width: 50%;
}

#myPopup span, #myPopup blockquote{
	color: #0099e6;
}

blockquote{
	margin: 0;
	padding-left: 1em;
	border-left: 2px solid lightgrey;
}


/*===================================================
responsive tablette
===================================================*/
@media all and (max-width: 900px){

	.entete{
		width: 100%;
	}

	.presentation{
		font-size: 0.8em;
		padding: 0;
		line-height: 1.8em;
	}

	.formulaire{
		width: 80%;
		margin: 0 auto;
	}

	.ui-field-contain{
		padding: 1em 0!important;
	}

	.apercu{
		font-size: 1em;
	}

/*===================================================
class à utiliser
===================================================*/



}
